<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :starred %><br>
    <%= f.check_box :starred %>
  </div>
  <div class="field">
    <%= f.label :user, "Author" %><br>
    <%= f.select(:user, User.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}, :class => "form-control") %>
  </div>
  <div class="actions">
    <%= f.submit "Create New Post", :class => "form-control" %>
  </div>
<% end %>
